#setup.conf

# source file path
SRC_DIRS='
/var/www/sites/example01.com
/var/www/sites/example02.com
'

# git info
GIT_REMOTE="origin"

# email for send notice result
ADMIN_MAIL="admin@example.com"

# send email settings
IS_SEND_MAIL_UPDATED=true
IS_SEND_MAIL_ERROR=true

